html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  }

body {
  background-color: #f9ebf9;
}

#main-music-div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

#title {
  margin-top: 8rem;
  font-size: 2.8rem;
}

#musicDiv, #soundDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
p {
  font-size: 2rem;
  margin: 1.2rem;
  color: black;
}

button {
  height: 2.3rem;
  width: 4.8rem;
  border-radius: 20px;
  margin-right: 1rem;
  background-color: #ffffff;
}

button:hover {
  background-color: #0099ff;
}

#enterMsg {
  margin-top: 3rem;
}

/* navbar  */

#navbarContainer {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 0;
  background-color: #0099ff;
}

#activePlayerText, .navbarText, #timeLeft {
  font-size: 1.3rem;
}
#timeLeft {
  margin-left: 0;
}

#activeWorm, #activeWeapon, #clock {
  width: 2rem;
  height: 2rem;
}

#clock {
  margin-left: 0.6rem;
}

#activeWeapon {
  margin-left: 0.2rem;
}

#playerWeapon, #timeMovesLeft, #weaponOptionsDiv {
  display: flex;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
}

#weaponOptionsDiv {
  padding-right: 1.2rem;
  margin: 0;
}

.divider {
  padding: 0;
  margin: 0 0 0 1.2rem;
}

.divider2 {
  padding: 0;
  margin: 0 0.2rem 0 0;
}

.divider3 {
  padding: 0;
  margin: 0 0 0 1.2rem;
}

#weaponSelection {
  width: 2rem;
  height: 2.2rem;
  margin-left: 0;
}

#weaponsText {
  margin-right: 0;
}

.navbarContent {
  display: flex;
  align-items: center;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(207, 205, 205);
}

.redText {
  color: red;
}

.blackText {
  color: black;
}
